#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/landing_page.jpg');
  background-size: cover;
  opacity: .75;
  z-index: 0;
}

.title {
  position: absolute;
  background-color: rgb(211, 205, 205);
  width: 70vw;
  height: 70px;
  padding: 15px 0 10px;
  top: 25%;
  left: 15%;
  border-radius: 4px;
  text-align: center;
}

.title h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
  line-height: .8;
}

.title h2 {
  line-height: .2;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 18px;
  font-weight: normal;
  padding-top: 6px;
}

.link-flex {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 28vh;
  top: 45%;
  justify-content: center;
  align-items: center;
  color:rgb(121, 45, 45);
  text-align: center;
}

.shop-link {
  background-color: rgba(211, 205, 205, 0.5);
  padding: 10px;
}

.shop-link p {
  display: block;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
}

.shop-link i {
  transition: transform, .5s;
  color: rgb(121, 45, 45);
}

.shop-link i:hover {
  cursor: pointer;
  transform: translateY(10px);
}

/* media queries */
@media screen and (min-width: 576px) {
  .title {
    width: 382px;
    height: 100px;
    padding: 20px 0 8px;
    left: calc(50% - 191px);
  }

  .title h1 {
    font-size: 70px;
  }

  .title h2 {
    font-size: 26px;
  }
}

@media screen and (min-width: 981px) {
  .title {
    width: 600px;
    height: 130px;
    left: calc(50% - 300px);
    border-radius: 8px;
  }

  .title h1 {
    font-size: 100px;
  }

  .title h2 {
    font-size: 30px;
  }

  .link-flex {
    top: 50%;
  }

  .shop-link {
    padding: 20px;
  }
}